<tr>
    <td>
        <div class="example-box" cdkDrag style="width: auto; height: auto;">
            <img src="https://media.discordapp.net/attachments/834307516707242034/970681583986163763/9E5400D4-99F0-4122-B160-BC2AF81E064F.jpg?width=650&height=468"
                alt="Flowers in Chania">
        </div>
    </td>
    <td>
        <div class="example-box" cdkDrag style="width: auto; height: auto;">
            <img src="https://media.discordapp.net/attachments/834307516707242034/970681999968862288/9E5400D4-99F0-4122-B160-BC2AF81E064F.jpg?width=263&height=468"
                alt="Flowers in Chania">
        </div>
    </td>

    <td>
        <div class="example-box" cdkDrag style="width: auto; height: auto;">
            <img src="https://media.discordapp.net/attachments/834307516707242034/970682414328324176/13D976DA-7005-4CC2-A16D-1A4918DC89EF.jpg?width=263&height=468"
                alt="Flowers in Chania">
        </div>
    </td>
</tr>


<br><!--  -->


<tr>
    <td>
        <div class="example-box" cdkDrag style="width: auto; height: auto;">
            <img src="https://scontent.fbkk5-7.fna.fbcdn.net/v/t39.30808-6/279153011_5115164398568686_8821127659103898903_n.jpg?stp=dst-jpg_p526x296&_nc_cat=107&ccb=1-6&_nc_sid=8bfeb9&_nc_eui2=AeF1dTwv3igofRfSFt5sK5iKkqsMU3HrrliSqwxTceuuWC09QfE_aFj14NNrmp8nDDuFtNq0vDj4Arp7niwgACHZ&_nc_ohc=eRclEsrq0fsAX9V-vQS&_nc_ht=scontent.fbkk5-7.fna&oh=00_AT_WNvq3_F_I4L-lIA_whQ5xSSWegvlTxmCNUgpHEj07Uw&oe=62813E9F"
                alt="Flowers in Chania">
        </div>
    </td>
    <br>
   
</tr>