<mat-card style="font-size: large; background-color: rgb(64, 141, 230);font-family: 'Kanit'; width: auto;">
  
  แกลเลอรี่ของเรา

</mat-card>




<div class="content" style="height: auto; width: auto;">


  <!-- showPage -->
  <router-outlet></router-outlet>
  <!-- showPage -->


</div>




  <mat-card style="text-align: center; font-size: large; background-color: rgb(64, 141, 230);font-family: 'Kanit';height: auto;width: auto;">



    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          ความสมบูรณ์ของเรา
        </mat-panel-title>
        <mat-panel-description>
          {{panelOpenState ? 'Process 30%' : ''}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="margin-left: 20%;margin-right: 20%;">
        <mat-progress-bar mode="determinate" value="30" color="accent"></mat-progress-bar>
      </div>
    </mat-expansion-panel>


    <mat-list >
      <mat-list-item>Item 1</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 3</mat-list-item>
    </mat-list>
  </mat-card>

  <!-- <mat-card style="background: rgb(243, 130, 209);"> -->


      
      






<!-- <button mat-raised-button color="accent" routerLink="/infome">Next Page</button>
    <button mat-raised-button color="accent" onclick="nextpage()">Next Page</button> -->